<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить пост</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <style>
    form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
    
    </style>
</head>
<body>
    <h1>Добавить новый пост</h1>
    <form method="POST" action="{{ url_for('add_post') }}">
        <label for="content">Содержание:</label>
        <textarea id="content" name="content" required rows="10"></textarea>
        
        <button type="submit">Добавить пост</button>
    </form>
</body>
</html> 
